@model BookStore.Domain.Auth.AuthenticationRequest

@{
    ViewBag.Title = "Вход";
    Layout = "_Layout";
}

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="login-form">
                    <!--login form-->
                    <h2>Войти в аккаунт</h2>
                    <form method="post" asp-controller="Account" asp-action="Login" style="margin-bottom: 200px">
                        <div class="validation" asp-validation-summary="ModelOnly"></div>
                        <input type="text" placeholder="Enter Email" name="Email" id="email" asp-for="Email">
                        <span asp-validation-for="Email"></span>
                        <input type="password" placeholder="Enter Password" name="Password" id="psw" asp-for="Password">
                        <span asp-validation-for="Password"></span>
                        <span>
                            <input type="checkbox" class="checkbox" asp-for="RememberMe">
                            Запомнить меня
                        </span>
                        <button type="submit" class="btn btn-default">Войти</button>
                    </form>
                </div><!--/login form-->
            </div>
        </div>
    </div>
</section>