@model BookStore.Domain.Auth.RegisterRequest

@{
    ViewBag.Title = "Registration";
    Layout = "_Layout";
}

<form method="post" asp-controller="Account" asp-action="Register">
    <div class="container">
        <h1>Register</h1>
        <p>Please fill in this form to create an account.</p>
        <hr>

        <div>
            <label asp-for="FirstName"></label>
            <input type="text" placeholder="Enter first name" name="FirstName" id="firstName" asp-for="FirstName">
            <span asp-validation-for="FirstName"></span>
        </div>

        <div>
            <label asp-for="LastName"></label>
            <input type="text" placeholder="Enter last name" name="LastName" id="lastName" asp-for="LastName">
            <span asp-validation-for="LastName"></span>
        </div>

        <div>
            <label asp-for="Email"></label>
            <input type="text" placeholder="Enter Email" name="Email" id="email" asp-for="Email">
            <span asp-validation-for="Email"></span>
        </div>

        <div>
            <label asp-for="Password"></label>
            <input type="password" placeholder="Enter Password" name="Password" id="psw" asp-for="Password">
            <span asp-validation-for="Password"></span>
        </div>

        <div>
            <label asp-for="ConfirmPassword"></label>
            <input type="password" placeholder="Repeat Password" name="ConfirmPassword" id="psw-repeat" asp-for="ConfirmPassword">
            <span asp-validation-for="ConfirmPassword"></span>
        </div>

        <hr>

        <input type="submit" class="registerbtn" value="Register"/>
    </div>
</form>