@model System.Collections.Generic.List<BookStore.Domain.Entities.Category>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@foreach (var category in Model)
{
    <p>@category.Id @category.CategoryName</p>
    <a asp-controller="Book" asp-action="EditCategory" asp-route-id="@category.Id">edit</a>
    <a asp-controller="Book" asp-action="DeleteCategory" asp-route-id="@category.Id">delete</a>
}
