@model BookStore.Domain.ViewModels.AddCategoryViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<section id="form">
    <!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                <div class="login-form">
                    <!--login form-->
                    <h2>Изменить категорию</h2>
                    <form method="post" asp-controller="Book" asp-action="EditCategory">
                        <div class="validation" asp-validation-summary="ModelOnly"></div>
                        <input type="text" name="CategoryName" asp-for="CategoryName">

                        <textarea rows="5" maxlength="251" type="text"  name="Description" asp-for="Description"></textarea>

                        <lable>Удалить?</lable>

                        <input type="submit" asp-action="DeleteCategory" asp-controller="Book" asp-route-ready="@true" value="Да">
                        <input type="submit" asp-action="DeleteCategory" asp-controller="Book" asp-route-ready="@false" value="нет">
                    </form>
                </div><!--/login form-->
            </div>
        </div>
    </div>
</section>