@model BookStore.Domain.ViewModels.AddCategoryViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<form method="post" asp-controller="Book" asp-action="EditCategory">
    <div class="container">
        <h1>AddBook</h1>
        <p>Please fill in this form to edit category.</p>
        <hr>

        <div>
            <label asp-for="CategoryName"></label>
            <input type="text" placeholder="Enter category name" name="CategoryName" id="CategoryName" asp-for="CategoryName">
            <span asp-validation-for="CategoryName"></span>
        </div>

        <div>
            <label asp-for="Description"></label>
            <input type="text" placeholder="Enter Description" name="Description" id="Description" asp-for="Description">
            <span asp-validation-for="Description"></span>
        </div>

        <hr>

        <input type="submit" class="addbtn" value="Edit category"/>
    </div>
</form>